<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  <table>
    <tr th:object="${up}">
      <td><input th:field="*{name}"></td>

      <td><img th:src="${up.img}" width="250" height="200"></td>
      <td><input th:field="*{img}" hidden></td>
      <td><input type="file" name="UppImg"></td>
      <td>
        <button type="submit">Edit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>